<% if message.user == current_user %>
<div class="message-container" id="message-<%= message.id %>" style="background-color: #EEECDA">
  <i class="author">

    <span style="margin-left: 2%"><%= message.user.email %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p style="margin-left: 2%"><%= message.content %></p>
</div>
 <% else %>
  <div class="message-container" id="message-<%= message.id %>" style="background-color: ##F1F7EE">
  <i class="author">
    <span><%= message.user.email %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
<% end  %>
