<br>
<br>
<br>

<div class="d-flex justify-content-center" style="margin-top: 10%">
  <h3>MY MESSAGES</h3>
</div>

<div class="d-flex justify-content-center" style="margin-top: 5%">
  <div class="card" style="width: 25rem;">

      <% @chatrooms.each do |chatroom| %>
      <div class="card-body" style="margin-bottom: 2%">
          <% if current_user.role == 'customer'  %>
            <h5><%= chatroom.producer.name %></h5>
          <% else %>
            <h5><%= chatroom.user.email %></h5>
          <% end  %>
            <h6>Messages: <%= chatroom.messages.count %> </h6>
           <div class="d-flex justify-content-center" style="margin-top: 7%">
            <p><%= link_to 'See conversation', chatroom_path(chatroom), class:"btn-green" %></p>
           </div>
       </div>
      <% end %>
    </div>
  </div>
  <% if current_user.role == 'customer' %>
  <div class="d-flex justify-content-center" style="margin-top: 5%">
    <%= link_to "Back", profile_path, class:"btn-main" %>
  </div>
   <% else %>
  <div class="d-flex justify-content-center" style="margin-top: 5%">
    <%= link_to "Back", producer_profile_path, class:"btn-main" %>
  </div>
  <% end %>


