<br>
<br>
<h1 class="d-flex justify-content-center" style="margin-top: 10%"><%= @chatroom.producer.name %></h1>



    <div class="d-flex justify-content-center" style="margin-top: 5%">
      <div class="card" style="width: 80%">
        <div class="card-body">
           <div class="card_chatroom">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>

        <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Please, type...#{@chatroom.name}", input_html: { autocomplete: 'off' } %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<div class="chatroomBtn" style="margin-top: 5%">
  <p><%= link_to 'Back', chatrooms_path, class:"btn-main" %></p>
</div>




