<div class="container">
  <div class="WELCOME">
    <h3><%= "WELCOME BACK #{current_user.first_name.upcase} #{current_user.last_name.upcase} !" %>
  </div>
  <div class="container d-flex">
    <div class="info-container">
      <div class="avatar-info">
        <%= user_image(current_user) %>
      </div>
      <div class="update-info-links">
        <p><%= link_to "UPDATE PASSWORD", edit_user_registration_path, class: "text-secondary" %> </p>
        <a href="#" class="text-secondary" data-toggle="modal" data-target="#exampleModalLong">UPDATE PERSONAL INFO</a>
      </div>
    </div>
    <div class="saved-container border w-500">

    </div>
  </div>
</div>


<!-- MODAL -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">PERSONAL INFORMATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= simple_form_for current_user do |f| %>
        <div class="modal-body">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone_number %>
          <%= f.input :address %>
          <%= f.input :photo, as: :file %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
          <%= f.button :submit, 'SAVE CHANGES', class: "btn-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
