<div class="container">
  <div class="welcome">
<div class="container d-flex flex-column">
  <div class="welcome mb-3 mt-3">
    <% if user_signed_in? %>
      <% if current_user.first_name.present? %>
        <h3><%= "WELCOME BACK #{current_user.first_name.upcase} #{current_user.last_name.upcase} !" %></h3>
      <% else %>
        <h3><%= "WELCOME BACK #{current_user.first_name} #{current_user.last_name} !" %></h3>
      <% end %>
    <% end %>
  </div>
  <div class="body-container d-flex p-0">
    <div class="info-container align-items-start">
      <div class="avatar-info">
        <%= user_image(current_user) %>
      </div>
      <div class="update-info-links border-top pt-3">
        <p><%= link_to "UPDATE PASSWORD", edit_user_registration_path, class: "text-secondary" %> </p>
        <a href="#" class="text-secondary" data-toggle="modal" data-target="#exampleModalLong">UPDATE PERSONAL INFO</a>
      </div>
    </div>
    <div class="saved-container flex-wrap border border-dark w-100 p-5">
      <% if current_user.favorites.empty? %>
        <p>You have no favourites yet</p>
      <% else %>
        <% current_user.favorites.each do |favorite| %>
        <%= favorite.producer.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<!-- MODAL -->

<div class="modal fade mt-5" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">PERSONAL INFORMATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= simple_form_for current_user do |f| %>
        <div class="modal-body">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone_number %>
          <%= f.input :address %>
          <%= f.input :photo, as: :file %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn-main m-0" data-dismiss="modal">CLOSE</button>
          <%= f.button :submit, 'SAVE CHANGES', class: "btn-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
