<div class="big-container ml-0 mr-0 mt-2 d-flex justify-content-between">
  <div class="map-container col-12 col-lg-6 d-none d-sm-block">
     <%= render "map" %>
  </div>

  <div class="producer-container col-12 col-lg-6">
    <div class="searchbar mb-3">
      <h6>LOOKING FOR A SPECIFIC PRODUCT?</h6>
      <div class="d-flex justify-content-between">
      <div class="search">
        <%= form_tag producers_path, method: :get, class: "search-bar" do %>
         <%= text_field_tag :query_product,
          params[:query_product],
          class: "form-control",
          placeholder: "Find a specific product"
          %>
        </div>
        <div class="submit">
          <%= submit_tag "Search", class: "btn-green", id: "product-search" %>
        </div>
      <% end %>
     </div>
    </div>

    <div id="search-results">
      <%= render "search_results", producers: @producers %>
    </div>
   </div>
</div>


<button type="button" class="d-lg-none d-md-none" id="map-button" data-toggle="modal" data-target="#mapModal">
  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-compass" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15.016a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z"/>
  <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1zm.94 6.44l4.95-2.83-2.83 4.95-4.95 2.83 2.83-4.95z"/>
</svg>
</button>

<div id="mapModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= render "map" %>
      <div id="modal-close-button">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>


