<div class="container">
  <div class="row w-100">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 p-0">
      <div class="form-login">
      <h3 style="text-align: center;">REQUEST TO BECOME A PRODUCER</h3>
    <%= simple_form_for @producer do |f| %>
      <%= f.input :name, label: "NAME" %>
      <%= f.input :address, label: "ADDRESS"%>
      <%= f.input :email, label: "EMAIL" %>
      <%= f.input :phone_number, label: "PHONE NUMBER" %>
      <%= f.input :description, label: "DESCRIPTION" %>
      <%= f.input :banner, label: "UPLOAD A PHOTO FOR YOUR BANNER", as: :file %>
      <br>
      <%= f.input :photos, label: "UPLOAD SOME INSPIRING PHOTOS", as: :file, input_html: { multiple: true } %>
      <div class="row d-flex justify-content-center">
        <div class="col-align-self-center">
          <div>
             <%= f.button :submit, "SEND", class: "btn-green mt-4" %>
          </div>
        </div>
      </div>
    <% end %>
        <div class="container mt-2">
            <div class="row d-flex justify-content-center">
             <div class="col-align-self-center">
                <div>
                    <%= link_to "Back", root_path, class: "text-secondary"%>
                </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
