<body style="background-color: powderblue;">


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
  Breakfast
</div>


<div class="col-md-8 mx-auto" style="background-image: url('../images/carrots.jpg');">
    <div class="card mb-3" style="margin-top: 10%">
      <img class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= @producer.name %></h5>
        <p class="card-text">As the leading voice of the natural products industry, the Natural Products Association’s mission is to advocate for the rights of consumers to have access to products that will maintain and improve their health, and for the rights of retailers and suppliers to sell these products.</p>
      </div>
    </div>
</div>




<div class="row" style="margin-top: 10%">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Info details</h5>
        <li class="list-group-item">Phone number - <%= @producer.phone_number %></li>
        <li class="list-group-item">E-mail - <%= @producer.email %></li>
        <li class="list-group-item">Address - <%= @producer.address %></li>

        <a href="#" class="btn btn-primary">Contacts</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">The way we do our quality products</h5>
        <p class="card-text"><%= @producer.description %></p>

      </div>
    </div>
  </div>
</div>










